.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkslategray;
}

.form-wrapper {
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    background-color: #ffffff;
}

/*todo update to use reactstrap*/
.create-account-button {
    margin-bottom: 2px;
}


.timer {
    margin-left: auto;
}
